<!doctype html>
<html>
<head align="center">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <h1>Health Monitor</h1>
</head>

<body  align="center">
  <button onclick="start()"> Start </button>
  <button onclick="stop()"> End </button>

  <p id = "bp"> </p>
  <p id = "bo"> </p>
  <p id = "pulse"> </p>

<script>
var bp = document.getElementById("bp")
var bo = document.getElementById("bo")
var pulse = document.getElementById("pulse")

var go = 0
var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('data', function(msg) {
    if (go == 1){
      bp.innerHTML = "Blood Pressure: " + msg.bp;
      bo.innerHTML = "Blood Oxygen: " + msg.bo;
      pulse.innerHTML = "Pulse: " + msg.pulse;
      console.log(msg.pulse)
    }

  })

  function start(){
    go = 1
    socket.emit('create', 1)
    console.log('start')
  }
  function stop(){
    go = 0
    socket.emit('stop', 1)
    console.log('stop')
//    socket.close()
  }

</script>

</body>
</html>
